:root {
  --o-headers-font-family: "Josefin Sans";
  --o-body-font-family: "Alata";
}

html {
  height: 100%;
}
 

body {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  background-color: whitesmoke;
}



/*==========  ID Rules  ==========*/
#root {
  width: 100%;
  height: 100%;
}

#container {
  width: 65%;
  height: 100%;
  float: right;
  clear: right;
  min-height: 100%;
  position: relative;
}



#photorama-logo {
  width: 50px;
  height: 50px;
  margin: 0% auto;
}

#search-engine-flexbox {
  column-count: 1;
  column-width: 90%;
  padding: 12px;
}

#side-bar {
  width: 35%;
  height: 100%;
  float: left;
  clear: left;
  position: fixed;
  border-right: 1px solid hsl(0, 1%, 72%);
}

#evolution {
  padding-top: 20px;
}

/*==========  Class Rules  ==========*/
.placid-button {
  margin: 0%;
  width: 30%;
  margin-top: 20px;
  display: inline-block;
  margin-right: 5%;
  margin-left: 10%;
}

.mace {
  margin: 0%;
  margin-right: 10%;
  margin-left: 10%;
}


.border-bottom {
  height: 100%;
  margin-bottom: 70%;
  min-height: 100vh;
  border-color: transparent !important;
}

.list-housing {
  width: 100%;
  height: 100%;
  margin: 6% auto;
}

.logo-housing {
  margin: 10% auto;
  width: fit-content;
  height: fit-content;
}

.logo-housing h1 {
  display: inline;
  margin-block-start: 5px;
}

.booker-t {
  margin: 0% auto;
  width: fit-content;
  position: relative;
}

.booker-t button {
  position: absolute;
}

.list-container {
  width: 100%;
  height: 100%;
  padding: 3% 0%;
  border-bottom: 1px solid hsl(0, 1%, 72%);
}


/*==========  Element Rules  ==========*/
h1 {
  font-size: 20px;
  font-family: var(--o-headers-font-family);
}

p {
  font-size: 15px;
  text-align: center;
  font-family: var(--o-body-font-family);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 2% auto;
  display: block;
}

input {
  width: 80%;
  display: block;
  margin: 3% auto;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: transparent;
}

footer {
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0px;
  padding: 10px 0px;
  padding-bottom: 20px;
  border-top: 1px solid hsl(0, 1%, 72%);
}

button {
  display: block;
  margin-top: 10px;
  margin-left: 63%;
  padding: 3px 10px;
  border-radius: 7px;
  font-family: var(--o-body-font-family);
  border: 3px solid hsl(264, 100%, 61%);
}

ul {
  width: 100%;
  margin: 0px;
  padding: 15% 0%;
  height: fit-content;
}

li {
  width: 60%;
  display: block;
  font-size: 15px;
  text-align: left;
  margin: 5px auto;
  padding: 10px 0px;
  padding-left: 20px;
  border-radius: 5px;
  font-weight: lighter;
  list-style-type: none;
  font-family: var(--o-body-font-family);
}

.list-housing h1 {
  margin-left: 20px;
  font-family: var(--o-body-font-family);
}



/*==========  Animation and Pseudo Rules  ==========*/
li:hover {
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, hsl(293, 100%, 63%) 50%, hsl(264, 100%, 61%));
}



/*==========  Media Queries ==========*/
@media only screen and (orientation: landscape) {
  img {
    width: 90%;
    margin: 10px auto;
    margin-top: 0px;
  }

  .booker-t {
    width: 90%;
  }

  button {
    margin-left: 75%;
  }

  .list-housing h1 {
    margin-left: 40px;
  }

  #search-engine-flexbox {
    column-count: 3;
    column-width: 33%;
    padding: 12px;
  }

  .placid-button {
    width: 20%;
    margin-left: 40%;
  }

  .mace {
    margin-left: 10%;
    margin-right: 0%;
  }

  .border-bottom {
    margin-bottom: 40%;
  }
}


@media only screen and (min-width: 1040px) {
  img {
    width: 95%;
  }

  .border-bottom {
    margin-bottom: 10%;
  }

  .logo-housing {
    margin: 7% auto;
    margin-bottom: 0%;
  }

  .list-housing {
    margin: 7% auto;
  }

  #side-bar {
    width: 20%;
  }

  #container {
    width: 80%;
    padding: 0%;
  }

  .list-container {
    padding: 0%;
  }

  .border-bottom {
    padding: 3% 0%;
  }

  .booker-t button {
    margin-left: 85%;
  }

  #search-engine-flexbox {
    column-count: 3;
    column-width: 33%;
    padding: 12px;
  }

  ul {
    width: 90%;
    padding-top: 7%;
    margin-left: auto;
  }

  
  .placid-button {
    width: 10%;
    margin-left: 60%;
  }

  .mace {
    margin-left: 10%;
    margin-right: 0%;
  }
}


